.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loading {
  position: absolute;
  width: 100px;
  height: 40px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -20px;
}

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f0f0f0;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #777;
}

.loading .circle:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

.loading .circle:nth-child(2) {
  animation: bounce 1s ease-in-out 0.3333s infinite;
}

.loading .circle:nth-child(3) {
  left: 20px;
  animation: bounce 1s ease-in-out 0.6666s infinite;
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}