.Register {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

.formRegister {
    width: 50%;
    margin: auto;
    padding: 10px;
}

.formRegister h2 {
    font-weight: bold;
    font-size: 25px;
}

.mediaSection {
    padding-top: 1%;
}